
body{
    background-image: url("MULTI.png");
    height: 50%;
    width: 50%;
    background-repeat: no-repeat;
    color:rgb(50%,50%,50%) ;
    background-attachment: scroll;
}


div  {
    /*background-image: url("pos2.png");*/
    /*background-repeat: no-repeat;*/
    height: 1000px;
    width: 2000PX;
    margin: 10px;
    opacity:0.7;
    color: white;
    /*padding: 300px;*/
}

h1{
    color: rgba(135, 21, 180, 0.685);
    font-size: 40px;
    position: absolute;
    top: 20px;
    left: 1000px;
}

p{
    height: 2500px;
    width: 1500px;
    /*position: absolute;*/
    color:white;
    font-size: 60px;
    font-style: oblique;
}
